/3D Scan
/Feb Log.docx
/Feb Log.pdf
/January Log.docx
/January Log.pdf
/Solar Blimp.pptx
/ME Requisition-Purchasing Form.pdf
/JuniorJay-RF6-04-04-23.pdf
/Junior Jay Requisition-Purchasing Form 4-4-24.pdf
/Junior Jay Midterm Presentation.pptx
/OpenCV with blink detection.docx
/JJ Code/fer-dataset
/JJ Code/fer-model
/JJ Code/webcam-emotion-detection.py
/JJ Code/FER2013Plus
/JJ Code/yawn_dataset
/JJ Code/mrleyedataset
/chmip.lbr
