/3D Scan
/Feb Log.docx
/Feb Log.pdf
/January Log.docx
/January Log.pdf
/Solar Blimp.pptx
/ME Requisition-Purchasing Form.pdf
/JuniorJay-RF6-04-04-23.pdf
/Junior Jay Requisition-Purchasing Form 4-4-24.pdf
/Junior Jay Midterm Presentation.pptx
/OpenCV with blink detection.docx
/JJ Code/fer-dataset
/JJ Code/fer-model
/JJ Code/webcam-emotion-detection.py
/JJ Code/FER2013Plus
/JJ Code/yawn_dataset
/JJ Code/mrleyedataset
/chmip.lbr
~$ril Log.docx
April Log.docx
April Log.pdf
/iCloud Photos from Scott Klein
/JJ Code/jj_expression_move_eyebrow_servos
analyze_eyebrow_position.py
Jr_Jay_Poster.pptx
Jr_Jay_Poster - Copy.pptx
InnerBrowDistance.png
IMG_6294.MOV
Happy.png
EyebrowFront.png
EyebrowBack.png
BeakInstall.png
Angry2.png
Angry.png
JJ Code/yawn_model_80.h5
/JJ Code/combined_script_pseudo_code.py
/JJ Code/combined_script_pseudo_code_v2.py
/JJ Code/combined_script_pseudo_code_v3.py
/JJ Code/combined_script_pseudo_code_v4.py
/JJ Code/combined_script_pseudo_code_v5.py
/JJ Code/combined_script_pseudo_code_v5.py
/JJ Code/combined_script_pseudo_code_v6.py
/JJ Code/combined_script_pseudo_code_v7.py
/JJ Code/combined_script_pseudo_code_v8_arduino.py
/JJ Code/combined_script_pseudo_code_v10.py
/JJ Code/webcam-emotion-detection.py
JJ Code/webcam-emotion-detection copy.py
/JJ Code/webcam-emotion-detection_v2.py
/JJ Code/webcam-emotion-detection_v3.py
/JJ Code/webcam-eye-detection.py
/JJ Code/ResNet_detector_test.py
/JJ Code/ResNet_w_emotion_test.py
JJ Code/RetinaFace_landmark_test.py
JJ Code/send_expression_dlib.py
JJ Code/send_expression_mediapipe.py
JJ Code/mtcnn_detector_test.py
JJ Code/outpy.avi
JJ Code/model_optimal2.h5
JJ Code/model_optimal.h5